html {
    background-image: url(grey.jpg);
}

.whitecolor {
    color: white;
}

.big {
    font-size: xx-large;
}

.margtop
{
    margin-top:10px;
}

.btn-primary-outline {
    background-color: transparent;
}

.whitebackground {
    background-color:white;
}

.pointer {
    cursor: pointer;
}
